/*
  Use this file to add your own custom utility classes.
  https://getbootstrap.com/docs/5.3/utilities/api/
*/

$utilities: map-merge(
  $utilities,
  (
    "border": (
      property: border,
      responsive: true,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        0: 0,
      ),
    ),
    "min-viewport-height": (
      property: min-height,
      class: min-vh,
      values: (
        100: 100vh,
        75: 75vh,
      ),
    ),
    "padding-x": (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: (
        0: 0,
        1: $spacer * 0.25,
        2: $spacer * 0.5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 3.5,
        7: $spacer * 4,
        8: $spacer * .5,
      ),
    ),
  )
);
