.hero-section-image {
    height: 100%;
    position: relative;
    min-height: 350px;
    width: 100%;

    >img {
        object-fit: cover;
        vertical-align: top;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}