:root {
  --big-image: 20rem;
  --small-image: 15rem;
}

@include media-breakpoint-down(md) {
  :root {
    --big-image: 10rem;
    --small-image: 8rem;
  }
}

.min-vh-64 {
  min-height: 65dvh;
  padding-top: 30px;
}
.main-section-img-container {
  justify-content: center;
  .main-section-img-first,
  .main-section-img-second {
    background-color: $pink-50;
    border-radius: 50%;

    figure {
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
      }
    }
  }

  .main-section-img-first {
    width: var(--big-image);
    height: var(--big-image);
    margin-top: 20%;

    figure {
      width: var(--big-image);
      height: var(--big-image);
      img {
        width: calc(var(--big-image) + 30px);
        height: calc(var(--big-image) + 30px);
        transform: scaleX(-1) translateY(-30px);
      }
    }
  }

  .main-section-img-second {
    align-self: flex-start;
    width: var(--small-image);
    height: var(--small-image);
    figure {
      width: var(--small-image);
      height: var(--small-image);
      img {
        width: calc(var(--small-image) + 30px);
        height: calc(var(--small-image) + 30px);
        transform: scaleX(-1) translateY(-30px);
      }
    }
  }
}
