/*
  Use this file to add your own custom utility classes.
  https://getbootstrap.com/docs/5.3/utilities/api/
*/

$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto,
);
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.5,
  9: $spacer * 4.5,
  10: $spacer * 5,
  11: $spacer * 5.5,
  12: $spacer * 6,
);

$utilities: map-merge(
  $utilities,
  (
    "border": (
      property: border,
      responsive: true,
      values: (
          null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color), 0: 0,
      ),
    ),
    "min-viewport-height": (
      property: min-height,
      class: min-vh,
      values: (
        100: 100vh,
        75: 75vh,
      ),
    ),
    "width": (
      property: width,
      responsive: true,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "top": (
      property: top,
      responsive: true,
      values: (
        0: 0,
        20: 20%,
        25: 25%,
        40: 40%,
        50: 50%,
        60: 60%,
        75: 75%,
        100: 100%,
      )
    ),
    "start": (
      property: left,
      class: start,
      responsive: true,
      values: $position-values
    ),
    "end": (
      property: right,
      class: end,
      responsive: true,
      values: $position-values
    )

    "padding-y": (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers,
    ),
  )
);
