.bootscore-footer {
  background-color: $pink-50;

  .border-top {
    border-color: $gray-900;
  }

  .widgettitle {
    font-size: 20px;
    font-weight: bold;
  }

  .widget_nav_menu {
    .menu-our-initiave-container {
      padding-top: 10px;
    }

    .menu-item {
      a {
        color: inherit;
        font-weight: $font-weight-semibold;

        &:hover {
          background-color: $gray-200;
        }
      }
    }
  }

  .bootscore-footer-info {
    .container>* {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 0;
    }

    .bootscore-copyright {
      display: none !important;
    }

    .footer_widget {
      ul.menu {
        display: flex;

        li {
          font-size: 0.95em;
          text-wrap: nowrap;

          &:not(:last-child) {
            padding-right: 0.5rem;
          }

          a {
            color: inherit;
            font-weight: $font-weight-semibold;

            &:hover {
              background-color: $gray-200;
            }
          }
        }
      }
    }

    .wp-block-social-links.is-layout-flex {
      gap: 0.5rem;
      margin-bottom: 0;

      .wp-block-social-link-anchor {
        padding: 0;
        color: initial;
        fill: initial;
      }
    }
  }
}

.top-button {
  right: 0.5%;
}

.enable-notifications-button {
  &:focus {
    background-color: $gray-100;
  }

  &>button {
    color: $secondary;
    border-color: $secondary;
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover {
      background-color: $gray-100;
      color: inherit;
      border-color: $secondary;
    }

    &:focus,
    &:focus-visible {
      border: 2px solid $focus;
      background-color: unset;
      color: inherit;
      box-shadow: unset;
    }

    &:first-child:active {
      background-color: $gray-200;
      color: inherit;
      border-color: $secondary;
    }

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-bell'%3E%3Cpath d='M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9'%3E%3C/path%3E%3Cpath d='M13.73 21a2 2 0 0 1-3.46 0'%3E%3C/path%3E%3C/svg%3E");
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}