.icon-start {
  margin-left: -0.7rem;
}

.icon-end {
  margin-right: -0.7rem;
}

.icon {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.icon-css::after {
  content: "";
  width: 1em;
  height: 1em;
  vertical-align: top;
  display: inline-block;
}