a:has(.icon) {
  display: inline-flex;
  gap: .375rem;
  align-items: center;
  text-underline-offset: .25em;
  backface-visibility: hidden;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.icon-lg {
  width: 1.5em;
  height: 1.5em;
}

.icon-sm {
  width: .8em;
  height: .8em;
}

.icon-css::after {
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  vertical-align: -.325em;
}
