.navbar {
  .top-nav-widget .btn-primary {
    padding: calc(2.8 * var(--#{$prefix}navbar-padding-y)) calc(2 * #{$btn-padding-x});
    margin: calc(calc(-1 * var(--#{$prefix}navbar-padding-y) - var(--#{$prefix}border-width))) 0;
    font-weight: 700;
    border-radius: 0;
  }

  .nav-toggler {
    border: 0;
  }

  .nav-link {
    display: flex;
    padding-right: var(--#{$prefix}offcanvas-padding-x);
    padding-left: var(--#{$prefix}offcanvas-padding-x);
    margin: 0 calc(-1 * var(--#{$prefix}offcanvas-padding-x));
    font-weight: 500;
  }
}

@include media-breakpoint-up(lg) {
  .navbar .nav-link {
    display: inline-flex;
    margin: 0;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  .navbar {
    --#{$prefix}navbar-padding-y: calc(#{$spacer} * .75);
  }

  .navbar-nav {
    --#{$prefix}navbar-nav-link-padding-x: calc(#{$spacer} * 1.25);
  }

  .navbar-expand-lg {
    .top-nav-widget .btn-primary {
      padding: calc(2.1 * var(--#{$prefix}navbar-padding-y)) calc(3 * #{$btn-padding-x});
    }

    .navbar-nav .nav-link {
      padding-top: calc(2.1 * var(--#{$prefix}navbar-padding-y));
      padding-bottom: calc(2.1 * var(--#{$prefix}navbar-padding-y));
      margin-top: calc(calc(-1 * var(--#{$prefix}navbar-padding-y) - var(--#{$prefix}border-width)));
      margin-bottom: calc(-1 * var(--#{$prefix}navbar-padding-y));
      border-bottom: 3px solid transparent;

      &:hover {
        background-color: $gray-50;
      }

      &:focus,
      &.active {
        border-bottom: 3px solid $primary;
      }
    }
  }
}
