.pagination{
  color: inherit;
  text-decoration: none;
  .page-numbers,
  .prev-next{
    padding: .5rem 1rem;
    color: inherit;
    text-decoration: none;
    &.current{
      color: #fff;
      background-color: $primary;
    }
  }
}
